* {

    box-sizing: border-box;
}

html {
    height: 100%;
}
body {
    background-color: #F1F1F1;
    font-family: Arial, sans-serif;
    color: #C2C2C2;
    font-size: 0.85em;
    margin: 0 auto;
    min-height: 100%;
}

h2 {

    font-size: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 800;
    color: #c2c2c2;
}

a {
     text-decoration: none;
     font-size: 1em;
    vertical-align: middle;
    display: inline-block;
    font-weight: 700;
    /* color: #c2c2c2; */
    margin: 0;
    padding-left: 1em;
   
}
.search-page {
 
    width: 80%;
    margin: 0 auto ;
   
    padding: 0;



}
.main-page {


   margin: 0 auto ;

}
.b-search {
    margin: 0 auto ;

    padding-top: 40px ;
    opacity: 0.7;
}

.b-search-form {

  
   border: none;
   position: relative;
}
.b-search-field{
        width: 80%;
        height: 15%;
        font-size: 7em;
        font-weight: 700;
        color: #c2c2c2;


}


.b-search-field,
.b-search-submit {
    border: none;
    color: #c2c2c2;
    background: transparent;
    outline: none;
    padding: 0;
}
.b-search-field:focus {
    color: #EC5A62;
}


/* h3:hover {
    color:#ec5a62; *//* Цвет текста в поиске и ссылки при наведении */ 
    
/* } */
.b-search-submit {
        width: 80px;
        height: 80px;
        margin: 0;
    
        background: url('../img/magnifier.svg');
    }
.b-search-submit {
    position: absolute;
    
    right: 0;
    /* top: 50%; */    
    background-size: 100%;
    border: none;
    transform-origin: 100% 50%;

}
.b-search-submit:hover {
    
    transform: scale(1.1);
}
ul {
    padding: 0;
    list-style-type: none;
}
.bar  {

    width: 30%;
    margin: 0 auto;
    display: inline-block;
    list-style-type: none;

}
.bar:nth-child(2) {

    margin: 0 4.5%;
}
.a-item-bar {
        display: inline-block;
        background:rgba(118,117,128,0.05);
        width: 100%;       
        margin: 0;
        margin-bottom: 2%;
        border-radius: 10px;
       /*  padding: 1em 2em 1em 1em;
        color: #c2c2c2; */
     /*    max-height: 7em;
        line-height: 1em; */
   
}
.a-item-bar a{
        
        width: 100%;       
        margin: 0;
        
        padding: 1em 2em 1em 1em;
        color: #c2c2c2;
        border-radius: 10px;
        max-height: 5em;
        line-height: 1em;
        overflow: hidden  ;
   
}


.circle {
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
  
    margin: 0 10px 0 0;


}
.circle:hover {
    
    transform: scale(1.5);
}

.a-item-bar a:hover {

    background-color: rgba(118,117,128,0.1);
    color:#ec5a62;

}
.square {
    display: inline-block;
  
    vertical-align: middle;
  
   margin: 0 10px 0 0;
}

footer {

    height: 100px;
}